@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f7fa;
    padding: 5%;
}

.links_wrap {
    /* background-color: tomato; */
    width: 100%;
    margin-top: 3%;
}

.title {
    background-color: #48aefa;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 1.2rem;
}

.links_wrap ul {
    list-style: none;
}
.links_wrap ul li {
    padding: 15px;
    border: 1px solid rgba(167, 167, 167, 0.2);
}
.links_wrap ul li:hover {
    background-color: #e1e9ee;
}

.links_wrap ul li a {
    text-decoration: none;
    color: #48aefa;
}
.links_wrap ul li a:hover {
    text-decoration: underline;
}